@font-face {
  font-family: 'Bitter';
  src: local('Bitter'),
    url(../fonts/Bitter/Bitter-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url(../fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}

body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
